<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../layout/head')%>
    <title>Show Searches</title>
</head>
<body>
    <header>
        <%-include('../../layout/header')%>
    </header>
    <main>
        <%-include('../../layout/anchor')%>
   <section>

   
    <ul>
        <% abookTable.forEach(itemes => {%>
            <img src="<%=itemes.imgUrl%>" >
       <h2><%=itemes.title %></h2>
       <h3><%=itemes.authors %></h3>
       <p><%=itemes.desc %></p> 
       <%})%>
    </ul>
</section>


</main>
<footer>

</footer>
</body>
</html>