<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../../layout/head')%>
    <title>Show Searches</title>
</head>
<body>
    <header>
        <%-include('../../layout/header')%>
    </header>
    <main>
        <%-include('../../layout/anchor')%>
   <section>

   
    <ul>
        <% bookChoice.forEach(items => {%>
       <img src="<%=items.image%>" >
       <h2><%=items.title %></h2>
       <h3><%=items.author %></h3>
       <p><%=items.description %></p> 
       <%})%>
    </ul>
</section>


</main>
<footer>

</footer>
</body>
</html>