<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../layout/head')%>
    <title>Index</title>
</head>
<body>
    <header>
        <%-include('../layout/header')%>
        <%-include('../layout/anchor')%>
    </header>
    <main>
        <h1><%=book.length%> Saved Books</h1>
        <div>
            <% book.forEach(item => {%>
                <section>
                    <img src="<%=item.imgUrl%>">
                    <h2><%=item.title%></h2>
                    <h3><%=item.authors%></h3>
                    <p><%= item.desc %></p>
                    <p><%= item.isbn %></p>
                    <p><%= item.bookshelf %></p>
                    <a class="btn" href="/books/<%=item.id%>">View Details</a>
                </section>
            <%})%>
        </div>
   
</main>
<footer>

</footer>
</body>
</html>